<FilesMatch "\.(ico|xml|jpe?g|png|gif|js|css|swf)$">
	ExpiresActive On
	ExpiresDefault "access plus 10 years"
</FilesMatch>

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript application/xml

<files *.aspx>
	SetOutputFilter DEFLATE
</files>

Header unset ETag
FileETag none
