#footer{
	margin-top:40px;
	color:#707070;
	font-size:9px;
	height:90px;
	border-top:1px solid #c9c9c9;
}
	#footer a img{
		margin-top:12px;
	}
	#footer p.first{
		padding:12px 0px 2px 0px;
		background:none;
	}
	#footer a,#homepage #footer a:link,#homepage #footer a:visited{
		text-decoration:none;
		letter-spacing:0px;
		color:#707070;
		text-transform:uppercase;
		font-weight:bold;
	}
	#footer a:hover{
		text-decoration:underline;
	}
